[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-decouple = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
requests = "*"
matplotlib = "*"
pandas = "*"
astropy-io = "*"
numpy = "*"
astropy = "*"

[requires]
python_version = "3.7"
