<!DOCTYPE html>
<html>
    <head>
        <!-- comment like this - add - {{title}} -->
    <title>Planet Finder - {{ title }}</title>

<!-- <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">     -->
<link rel="stylesheet" href="https://unpkg.com/picnic"/>


    </head>
    <body>
            <nav>
                <a href="/" class="brand"><span>Planet Finder Home</span></a>
              
                <!-- responsive-->
                <input id="bmenub" type="checkbox" class="show">
                <label for="bmenub" class="burger pseudo button">Menu</label>
              
                <div class="menu">
                    <!-- <a href="/" class="button warning">Home</a> -->
                    <a href="/predict" class="">Predict</a>
                   </div>
                </nav>
              
                <!-- <article class="flex two" style="padding: 3em 1em;"> -->

        <h2>Let's Find Some Planets!!!</h2>
        
        <div class=page>

<table style="width:100%">

    {% block content %}
        <tr>  
        
        <th>TIC Id</th>
        <th>TOI</th>
        <th>Epoch</th>
        <th>Period</th>
        <th>Duration</th>
        <th>Depth</th>
        <th>Planet_Radius</th>
        <th>Planet_Insolation</th>
        <th>Planet_Equil_Temp</th>
        <th>Planet_SNR</th>
        <th>Stellar_Distance</th>
        <th>Stellar_log_g</th>
        <th>Stellar_Radius</th>
        <th>TFOPWG_Disposition</th>

        </tr>  

        {% for toi in toi_table %}
        <tr>
        <td> <a href="/image">{{ toi.TIC_ID }}</a> </td>
        <td>{{ toi.TOI }}</td>
        <td>{{ toi.Epoch }}</td>
        <td>{{ toi.Period }}</td>
        <td>{{ toi.Duration }}</td>
        <td>{{ toi.Depth }}</td>
        <td>{{ toi.Planet_Radius }}</td>
        <td>{{ toi.Planet_Insolation }}</td>
        <td>{{ toi.Planet_Equil_Temp }}</td>
        <td>{{ toi.Planet_SNR }}</td>
        <td>{{ toi.Stellar_Distance }}</td>
        <td>{{ toi.Stellar_log_g }}</td>
        <td>{{ toi.Stellar_Radius }}</td>
        <td>{{ toi.TFOPWG_Disposition }}</td>
        </tr>
        {% endfor %}

    {% endblock %}

</table> 

</div>

    </body>
</html>

