{% extends "home.html" %}
{% block content %}

 <h2>Possible Planets</h2>

    
    <div>



<img src="/static/images/29781292_dvt_0.png" alt="0" width="1000" height="275" >
<img src="/static/images/29781292_dvt_1.png" alt="1"  width="1000" height="275" >
<img src="/static/images/29781292_dvt_2.png" alt="2"  width="1000" height="275" >
<img src="/static/images/29781292_dvt_3.png" alt="3"  width="1000" height="275">
<img src="/static/images/29781292_dvt_4.png" alt="4"  width="1000" height="275">
<img src="/static/images/29781292_dvt_5.png" alt="5"  width="1000" height="275">
<img src="/static/images/29781292_dvt_6.png" alt="6"  width="1000" height="275">
<img src="/static/images/29781292_dvt_7.png" alt="7"  width="1000" height="275">
<img src="/static/images/29781292_dvt_8.png" alt="8"  width="1000" height="275">
<img src="/static/images/29781292_dvt_9.png" alt="9"  width="1000" height="275">
<img src="/static/images/29781292_dvt_10.png" alt="10"  width="1000" height="275">
<img src="/static/images/29781292_dvt_11.png" alt="11"  width="1000" height="275">
<img src="/static/images/29781292_dvt_12.png" alt="12"  width="1000" height="275">
<img src="/static/images/29781292_dvt_13.png" alt="13"  width="1000" height="275">
<img src="/static/images/29781292_dvt_14.png" alt="14"   width="1000" height="275">
 </div>

{% endblock %}
